body {
  margin: 0;
  font-family: Arial;
  background: #ffffff;
  color: #111;
}

header {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: black;
  color: white;
}

.page {
  padding: 15px;
}

.hidden {
  display: none;
}

/* CARD PRO STYLE */
.card {
  width: 180px;
  height: 240px;
  border-radius: 16px;
  margin: 10px auto;
  padding: 10px;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  animation: pop 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* RARETÉS */
.r1 { box-shadow: 0 0 10px #ccc; }
.r2 { box-shadow: 0 0 10px #6aa9ff; }
.r3 { box-shadow: 0 0 12px #7c4dff; }
.r4 { box-shadow: 0 0 14px #ffb74d; }
.r5 { box-shadow: 0 0 18px #ff5252; }
.r6 { box-shadow: 0 0 22px gold; }

/* ANIMATION PACK */
.flash {
  animation: flash 0.4s ease;
}

@keyframes flash {
  0% { background: black; }
  100% { background: white; }
}